h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #505A61;
}
.no-bolt{
  font-weight: 200 !important;
  font-style: italic;
}
.btn.bg--googleplus .btn__text4a90e2 i {
  color: #fff;
}
.color--black-ski {
  color: #505A61 !important;
}
.color--black-ski-title {
  color: #A9E8DC !important;
}
/*#609de6*/
.color--blue-ski {
  color: #0284A8 !important;
}
.color-blue-logo {
  color: #82BCDC!important;
}
.bg--ski-dark {
  background: #0284A8;
}
.bg--ski {
  background: #FAFAFA;
}
section.space--100,
footer.space--100 {
  height: 100%;
}
div[class*='col-'] > div[class*='col-']:last-child {
  padding-right: 0;
  padding-left: 0;
}
/*! -- Stack Tables -- */
table th,
table td {
  padding: 0.5em;
}
/*! -- Stack Typed Text -- */
.padding-left-title-typed {
  padding-left: 110px;
}
.typed-headline h1,
.typed-headline .h1 {
  font-weight: 900;
  font-size: 5em;
  line-height: 1.31818182em;
}
@media all and (max-width: 767px) {
  .typed-headline h1,
  .typed-headline .h1 {
    font-weight: 900;
    font-size: 3em;
    line-height: 1.31818182em;
    margin-bottom: 0;
  }
  .padding-left-title-typed {
    padding-left: 10px;
  }
  section.space--md, footer.space--md {
      padding-top: 11.14285714em;
      padding-bottom: 11.14285714em;
  }
}
section.space--md, footer.space--md {
    padding-top: 17.14285714em;
    padding-bottom: 11.14285714em;
}

.shadow-title{
    text-shadow: 0px 0px 15px #000;
}

.menu-horizontal > li:not(:hover) > a,
.menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {
  opacity: 80;
}

.heigth-vertical {
  max-height: 3.85714286em !important;
  max-width: none;
}
.padding-top-bar{
  padding-top: 9px;
}
.padding-bottom-bar{
  padding-bottom: 7px;
}
.background-image-holder {
  background-position: 20% 50% !important;
}
