<?php

$hostdb = "localhost";
$basededatos = "nombre_db";
$usuariodb = "usuario_db";
$clavedb = "pass";

try {
    $conexion_db = new PDO("mysql:host=${hostdb};dbname=${basededatos}", $usuariodb, $clavedb);
    $conexion_db->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
} catch (PDOException $e) {
    echo "Error!: " . $e->getMessage() . "<br/>";
    die();
}
